<?xml version="1.0" encoding="UTF-8"?>
<!-- 不打印log4j内部日志，配置文件刷新频率为30秒 -->
<Configuration status="off" monitorInterval="30">
    <Appenders>
        <Kafka name="Kafka" topic="tyfTopic">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <!-- 打印等级：off、fatal、error、warn、info、debug、trace、all -->
        <Logger name="kafkaLog" level="trace">
            <AppenderRef ref="Kafka" />
        </Logger>
        <Root level="fatal">
        </Root>
    </Loggers>
</Configuration>
