<?xml version="1.0" encoding="UTF-8"?>
<!-- 不打印log4j内部日志，配置文件刷新频率为30秒 -->
<Configuration status="off" monitorInterval="30">
    <Appenders>
        <JDBC name="databaseAppender" tableName="ibs_log">
            <ConnectionFactory class="com.tyf.logtest.common.ConnectionFactory" method="getDatabaseConnection"/>
            <Column name="log_date" isEventTimestamp="true"/>
            <Column name="log_file" pattern="%file"/>
            <Column name="log_line" pattern="%line"/>
            <Column name="log_thread" pattern="%thread"/>
            <Column name="log_level" pattern="%level"/>
            <Column name="log_message" pattern="%message"/>
        </JDBC>
        <!--异步写入数据库-->
        <Async name="AsyncDatabaseAppender">
            <appender-ref ref="databaseAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <!-- 打印等级：off、fatal、error、warn、info、debug、trace、all -->
        <logger name="com.tyf.logtest" level="debug" >
            <appender-ref ref="AsyncDatabaseAppender"/>
        </logger>
        <Root level="off"></Root>
    </Loggers>
</Configuration>
